<div class="row">
        <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar persona
        </button>
    

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="acercade">
        <img src="../../../assets/img/1995515.png" class="img-fluid" id="fperfil">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="nombre">
        <h1 id="nombre">Alejo Diaz Allendez</h1>
        <p class="p"> Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6" id="info">
      <h1>Acerca de mi</h1>
      <p class="about">Hola! Soy un joven desarrollador de 23 años pasionado por la tecnologia, con conocimientos en HTML, CSS, JavaScript, Angular, Java, SQL y NoSQL. Autodirigido y orientado a la resolucion de problemas y diseño de paginas Webs, simepre en busca de nuevos desafios para ayudar a construir soluciones.
        Soy responsable, me adapto facilmente al trabajo en equipo y me gusta desarrollar en un buen ambiente de trabajo.
      </p>
    </div>
</div>